.git
.github
.claude
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
docker-compose.yml
*.md
docker-compose*.yml
Homestead.*
phpunit.xml
.phpunit.cache
.phpunit.result.cache
tests/
database/database.sqlite
